.fs-1{
    font-size: 3.7rem !important;
}
.change{
    width: 500px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 500px;
}
.form-control{
    height: 60px;
    width: 10px;
}
/* .btn.btn.outline.success {
    height: 250px;
    width: 200px;
} */